[access "refs/*"]
        owner = group android_device_samsung_m55xq
        label-Verified = -1..+1 group android_device_samsung_m55xq
        submit = group android_device_samsung_m55xq
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
[project]
	description = "Samsung Galaxy M55/F55/C55 | Bugs: OTG, /Data Mounting"
